<!DOCTYPE html>
<html>
    <head>
        <title>| Home</title>
        <link rel="icon" href="https://anthonyh45.github.io/content/animated_favicon.gif" type="image/gif">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    </head>
        
    <body class="h-24 bg-gradient-to-r from-green-700 via-yellow-500 to-red-700 ">

        <div class="grid grid-rows-3 grid-flow-col justify-items-center gap-4">
            <div class="flex flex-col space-between w-1/2 px-2 text-center my-2 col-span-2">
                <div style="background-color: grey;">
                    <p>Network Name</p>
                </div>
            </div>

            {{ range .List }}
                <div class="flex flex-col space-between w-1/2 px-2 text-center my-5 col-span-1" >
                    <div style="background-color: grey;">
                        <!-- <p>{{ . }}</p> -->
                        <p>Number: {{ .Number }}</p>
                        <p>Ip: {{ .Ip }}</p>
                        <p>Hostname: {{ .Hostname }}</p>
                    </div>
                </div>
            {{ end }}
            <!-- <div class="flex flex-col space-between w-1/2 px-2 text-center my-5 col-span-1" >
                <div style="background-color: grey;">
                    <p>Machine 1</p>
                </div>
            </div>

            <div class="flex flex-col space-between w-1/2 px-2 text-center my-5">
                <div style="background-color: grey;">
                    <p>Machine 2</p>
                </div>
            </div> -->
            
        </div>

    </body>
</html>